<div class="center hero-unit"> 
  <h1>Welcome to the Urban Attractiveness Evaluation Survey</h1>
</div>

<h3 style="color:red;">Sorry, your URL is invalid! :(</h3>

<br>
<%= @token_in %>
<%= @task_id %>
<div class="row">
  <div class="box">
  <div class="span8 offset2">
        <p>It may be caused by one of these reasons:</p>
        <ul>
            <li>You did not follow an URL from CrowdFlower</li>
            <li>You are not eligible to do this task</li>
            <li>The same task has been done before, so it is no longer available</li>
        </ul>
   </div>
</div>
</div>