<footer class="footer"> 
  <nav> 
    <ul>
    <% if request.path != "/newuser" && request.path != "/invalid" && request.path != "/endtask" && request.path != "" %>

    <% end %>
    </ul> 
  </nav> 
  <small>
  </small>
</footer>